header,
footer {
    background-color: rgb(162, 25, 204);
    height: 50px;
    width: 90%;
    margin-left: 5%;
}

a,footer {
    color: white;
}

sidebar,
footer {
    text-align: center;
}


header {
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

footer {
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

sidebar {
    position: fixed;
    top: 20%;
    bottom: 20%;
    width: 10%;
    right: 5%;
    background:  rgb(162, 25, 204);
    opacity: 50%;
}

main {  
    width: 80%;
    padding-top: 10px;
    margin-left: 5%;
}

html,
body {
    height: 100%;
}

#topPart {
    min-height: 100%;
}