.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item:nth-child(1) {
    background: red;
    width: 28%;
    height: 70px;
    margin-bottom: 3%;
    margin-left: 1%;
    margin-right: 2%;
}

.item:nth-child(2) {
    background: orange;
    width: 68%;
    height: 70px;
    margin-right: 1%;
}

.item:nth-child(3) {
    background: green;
    width: 98%;
    height: 320px;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.item:nth-child(4) {
    background: burlywood;
    width: 31.3%;
    height: 150px;
    margin-left: 1%;
    margin-right: 2%;
}

.item:nth-child(5) {
    background: blue;
    width: 31.3%;
    height: 150px;
    margin-right: 2%;
}

.item:nth-child(6) {
    background: purple;
    width: 31.3%;
    height: 150px;
    margin-right: 1%;
}

@media (max-width: 480px) {

    .item:nth-child(2),
    .item:nth-child(4),
    .item:nth-child(5) {
        display: none;
    }

    .item:nth-child(1) {
        height: 400px;
        margin: 1%;
        width: 98%;
    }

    .item:nth-child(3) {
        order: -1;
        height: 100px;
        margin: 1%;
        width: 98%;
        margin-bottom: 3%;
    }

    .item:nth-child(6) {
        order: -1;
        height: 100px;
        margin: 1%;
        width: 98%;
    }
}

@media (min-width:768px) and (max-width: 1024px) {
    .item:nth-child(1) {
        width: 98%;
        height: 320px;
        margin-bottom: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .item:nth-child(2) {
        order: -1;
        width: 28%;
        height: 70px;
        margin-bottom: 3%;
        margin-left: 1%;
        margin-right: 2%;
    }
    
    .item:nth-child(3) {
        width: 48%;
        height: 150px;
        margin-left: 1%;
        margin-right: 2%;
    }
    
    .item:nth-child(4) {
        display: none;
    }
    
    .item:nth-child(5) {
        width: 48%;
        height: 150px;
        margin-right: 1%;
    }
    
    .item:nth-child(6) {
        order: -1;
        width: 68%;
        height: 70px;
        margin-right: 1%;
    }
}