.flex {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(238, 238, 238);
}

figure {
    background: white;
    display: block;
    text-align: center;
    width: 18%;
    height: 50%;
    margin: 0.5%;
}

.jacket {
    margin-top: 30px;
    width: 100%;
    height: 290px;
}

p {
    font-size: 40px;
}

@media (max-width:1280px),(max-height:1024px) {

    figure {
        width: 23%;
        height: 240px;
        margin-left: 0.5%;
        margin-right: 0.5%;
    }

    figure:nth-child(9),
    figure:nth-child(10) {
        width: 47%;
        height: 440px;
        margin: 0.5%;
    }

    .jacket {
        margin-top: 0%;
        width: 65%;
        height: 140px;
    }

    .big {
        margin-top: 20px;
        width: 250px;
        height: 260px;
    }

    p {
        font-size: 20px;
    }
}